.config/btop/btop.log
.bitmonero
.config/frame
.config/go/
.config/mimeapps.list
.config/monero-project/
.electron-gyp/
.electrum/
.local/share/Steam/
.local/share/applications/
.local/share/containers/
.local/share/fonts/.uuid
.local/share/fonts/Windows/.uuid
.local/share/hyprland/
.local/share/icons/
.local/share/lesshst
.local/share/lilipod/
.local/share/mime/
.local/share/nvim/tree-sitter-gitcommit.tar.gz
.local/share/vulkan/
.npm/
.powerlevel10k/
.pulse-cookie
.shared-ringdb/
.steam/
.steampath
.steampid
.zen/
.zsh/
Monero/
images/Five dollar footlong.jpg
images/hector.jpeg
images/mtfuck.png
images/mtfuck.webp
images/sussy.gif
measureme
powerlevel10k/
