.config/btop/btop.log
.bitmonero
.config/frame
.config/go/
.config/mimeapps.list
.config/monero-project/
.electron-gyp/
.electrum/
.local/share/Steam/
.local/share/applications/
.local/share/containers/
.local/share/fonts/.uuid
.local/share/fonts/Windows/.uuid
.local/share/hyprland/
.local/share/icons/
.local/share/lesshst
.local/share/lilipod/
.local/share/mime/
.local/share/nvim/tree-sitter-gitcommit.tar.gz
.local/share/vulkan/
.local/share/Zeal
.config/Zeal
.local/share/kicad
.config/kicad
.npm/
.powerlevel10k/
.pulse-cookie
.shared-ringdb/
.steam/
.steampath
.steampid
.zen/
.zsh/
Monero/
images/Five dollar foot long.jpg
images/hector.jpeg
images/mtfuck.png
images/mtfuck.webp
images/sussy.gif
images/sr-71 shirt/
images/corporate insight.png

measureme
powerlevel10k/
.config/blender/
.config/qBittorrent/
.local/share/qBittorrent/
Downloads
images/conpiracy
images/flopper.png
images/it gets worse.jpg
images/nana dinner.jpg
images/sili.jpeg
images/stronger battles.jpg
images/uniporno.jpg
